.App {
  text-align: center;
}

.Nav {
  border: 1px solid grey;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

ul {
  list-style-type: none;
  justify-content: space-between;
  padding: 10px;
}
